In [3]:
import seaborn as sn
import matplotlib.pyplot as plt
import sys
import pandas

# Import Data

In [38]:
satisfiable_outputs = pandas.read_csv("raw_results/outputSatisfiable.csv", header=None, sep=" ")
unsatisfiable_outputs = pandas.read_csv("raw_results/outputUnSatisfiable.csv", header=None, sep=" ")
timeout_outputs = pandas.read_csv("raw_results/outputUnSatisfiableTimeout.csv", header=None, sep=" ")

In [39]:
satisfiable_outputs

                0    1   2   3   4   5       6   7   8   9   10
0  models\auto.mzn  toy   6   8  10   9  [5, 5]   2 NaN NaN NaN
1  models\auto.mzn  toy  10  10   5   4     [5]   2 NaN NaN NaN
2  models\auto.mzn  toy  12   6   5   4     [5]   2 NaN NaN NaN
3  models\auto.mzn  toy  16   4   5   4     [5]   2 NaN NaN NaN
4  models\auto.mzn  toy  16   4  10   9  [5, 5]   2 NaN NaN NaN

# Formatting headers

In [31]:
satisfiable_outputs.columns = ["model name", "data_name", "n_periods", "n_venues", "n_teams", "n_coaches", 
                               "n_teams_per_division", "break_duration", "time", "node", "nogood"]
unsatisfiable_outputs.columns = ["model name", "data_name", "n_periods", "n_venues", "n_teams", "n_coaches", 
                               "n_teams_per_division", "break_duration"]

In [32]:
timeout_outputs = timeout_outputs.loc[:, :7]
timeout_outputs.columns = ["model name", "data_name", "n_periods", "n_venues", "n_teams", "n_coaches", 
                               "n_teams_per_division", "break_duration"]

In [37]:
satisfiable_outputs

,model name,data_name,n_periods,n_venues,n_teams,n_coaches,n_teams_per_division,break_duration,time,node,nogood
0,models\auto.mzn,toy,6,8,10,9,"[5, 5]",2,NaN,NaN,NaN
1,models\auto.mzn,toy,10,10,5,4,[5],2,NaN,NaN,NaN
2,models\auto.mzn,toy,12,6,5,4,[5],2,NaN,NaN,NaN
3,models\auto.mzn,toy,16,4,5,4,[5],2,NaN,NaN,NaN
4,models\auto.mzn,toy,16,4,10,9,"[5, 5]",2,NaN,NaN,NaN

In [ ]:
les colonnes pour insatisfiable : model name n_periods n_venues n_teams n_coaches "n_teams_per_division" break_duration]